<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity android:name=".ProximityFeatures"></activity>
        <activity android:name=".MagneticFieldFeatures" />
        <activity android:name=".GeorotationFeatures" />
        <activity android:name=".Proximity" />
        <activity android:name=".Orientation" />
        <activity android:name=".MagneticField" />
        <activity android:name=".GeomagneticRotation" />
        <activity android:name=".DisplayStepCounterValue" />
        <activity android:name=".StepCounterFeatures" />
        <activity android:name=".DisplayLinearAccelerationValue" />
        <activity android:name=".LinearAccelerationFeatures" />
        <activity android:name=".DisplayGyroscopeValue" />
        <activity android:name=".GyroscopeFeatures" />
        <activity android:name=".DisplayGravityValue" />
        <activity android:name=".GravityFeatures" />
        <activity android:name=".DisplayAccelerometerValue" />
        <activity android:name=".AccelerometerFeatures" />
        <activity android:name=".PositionSensor" />
        <activity android:name=".StepCounterSensors" />
        <activity android:name=".LinearAccelerationSensors" />
        <activity android:name=".GyroscopeSensors" />
        <activity android:name=".GravitySensors" />
        <activity android:name=".AccelerometerSensors" />
        <activity android:name=".MotionSensor" />
        <activity android:name=".PositionSelectSavedValue" />
        <activity android:name=".MotionSelectSavedValue" />
        <activity android:name=".SelectTypeSavedValue" />
        <activity android:name=".DisplaySelectedValue" />
        <activity android:name=".EnvironmentSelectSavedValue" />
        <activity android:name=".DisplayHumidityValue" />
        <activity android:name=".DisplayPressureValue" />
        <activity android:name=".DisplayTemperatureValue" />
        <activity android:name=".DisplayLightValue" />
        <activity android:name=".HumidityFeatures" />
        <activity android:name=".PressureFeatures" />
        <activity android:name=".TemperatureFeatures" />
        <activity android:name=".LightFeatures" />
        <activity android:name=".AmbientTemperature" />
        <activity android:name=".RelativeHumidity" />
        <activity android:name=".Pressure" />
        <activity android:name=".Light" />
        <activity android:name=".EnvironmentalSensors" />
        <activity android:name=".EnviromentalSensors" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>